<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="list-tasks">
<div class="example-container">
    <h2>To do</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList, finishedList]"
      class="example-list"
      (cdkDropListDropped)="drop($event, 'todo')">
      @for (item of todo; track item) {
        <div class="example-box" cdkDrag [cdkDragData]="item">{{item.name}}
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="deleteTask(item.id)">
            <mat-icon><i class="bi bi-x-circle-fill"></i></mat-icon>
          </button>
        </div>
      }
    </div>
  </div>
  
  <div class="example-container">
    <h2>in progress</h2>
  
    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress" 
      [cdkDropListConnectedTo]="[todoList, finishedList]"
      class="example-list"
      (cdkDropListDropped)="drop($event, 'inProgress')">
      @for (item of inProgress; track item) {
        <div class="example-box" cdkDrag [cdkDragData]="item">{{item.name}}
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="deleteTask(item.id)">
            <mat-icon><i class="bi bi-x-circle-fill"></i></mat-icon>
          </button>
        </div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>finished</h2>
  
    <div
      cdkDropList
      #finishedList="cdkDropList"
      [cdkDropListData]="finished" 
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      class="example-list"
      (cdkDropListDropped)="drop($event, 'finished')">
      @for (item of finished; track item) {
        <div class="example-box" cdkDrag [cdkDragData]="item">{{item.name}}
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="deleteTask(item.id)">
            <mat-icon><i class="bi bi-x-circle-fill"></i></mat-icon>
          </button>
        </div>
      }
    </div>
  </div>

  
  